<%- include("partials/header") %>

<div class= "container vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center my-4">Bem vindo ao sistema de gerenciameno de usuario</h1>
    <div class="buttons-container text-center">
        <a class="btn btn-primary" href="/users"  role="button">Listar Usuários</a>
        <a class="btn btn-secondary" href="/users/new" role="button">Adicionar usuário</a>
    </div>
</div>
<%- include("partials/footer") %>